<h3>Welcome to Clarion Library</h3>
<h4> Congratulation <%= @student.name %> </h4>
<p>Your account successfully activated for Clarion library membership.</p>
<p>Thankyou for co-operation.</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>We are happy with you </p>
<p>Thanks have a good day</p>