<h4> Hello <%= @student.name %> </h4>
<h4>Welcome to Clarion Library</h4>
<p>You have successfully signed up for clarion library membership</p>
<p>your username is: <%= @student.email %></p>
<p>Password is - "test12345"</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining us and have a great day!</p>