/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap
 *= require owl.carousel
 *= require_tree .
 *= require_self
 */
 body {
  background-color:#F0F4FD;
 }

.ui-datepicker-trigger {
  width:25px;
  height:25px;
 }

.field_with_errors { 
  display: inline; 
}

.header {
  height:165px;
  background-color:Gainsboro;
}

.alert {
  height:46px;
  width:476px;
  position:absolute;
}

.nav {
  margin-top:40px;
  width:600px;
  font-weight:bold;
}

.yield_container {
  padding:30px;
}

.user_account_activity_link {
  margin-top:-166px;
  float:right;
  margin-right:15px;
}

a {
  font-weight:bold
}

.new_form {
  width:370px;
}

.search_form {
  float:right;
  margin-top:-42px;
}

.pagination a {
  margin-left:10px;
  margin-right:10px;
}

.current {
  padding:5px;
  display:inline-block;
  height:30px;
  width:30px;
  background-color:#5077BE;
}

.previous_page, .next_page {
  display:inline-block;
  height:30px;
  width:80px;
}

.error_explanation {
  color:#AD335C;
}

.logo img {
  height:90px;
  width:473px;
}

.logo {
  width:473px;
}

.nav a:hover {
  font-size:14px;
  color:green;
}
